.ci-card {
    width: 280px;
    height: 350px;
    background: white;
    border: 1px solid #2c3e70;
    overflow: hidden;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 13px;
}

.ci-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.18);
}

/* Image */
.ci-img-container {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.ci-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info */
.ci-info {
    padding: 15px;
    background-color: #e6ecf5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Name + Rating */
.ci-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.ci-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.ci-rating {
    width: 68px;
}

/* Description */
.ci-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1;
}

/* Price */
.ci-price {
    font-size: 20px;
    font-weight: bold;
    color: #3674b5;
    margin-top: 10px;
}
/* Mobile */
@media (max-width: 600px) {
    .ci-card {
        width: 100%;
        height: 420px;  /* Increased height for phone view */
        margin: 10px auto;
    }

    .ci-img-container {
        height: 200px; /* bigger image height for mobile */
    }

    .ci-name {
        font-size: 16px;
    }

    .ci-price {
        font-size: 18px;
    }
}

