.cd-display {
  margin-top: 30px;
}

.cd-display-header {
  font-size: max(2vw, 40px);
  text-align: center;
  margin: 50px 0;
}

.cd-display-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 90%;
  margin: auto;
}

.cd-view-more-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.cd-view-more-button {
  background: #3674b5;
  color: white;
  padding: 20px 100px;
  border-radius: 8px;
  font-size: 16px;
}
